@model IEnumerable<RealityMarble.Web.Models.ShowImageModel>

@{
    ViewBag.Title = $" {ViewData["AuthorName"]} ";
}

<div class="container">
    <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">@ViewData["AuthorName"]</h1>
        </div>      
        <br />
       @foreach (var item in Model)
{
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <a href='@Url.Action("Details", "Image", new { imageId = item.Id})'>
                <img width="350" src="@Url.Content(item.Path)" class="img-thumbnail">
                </a>
        </div>       
        }  
    </div>
</div>

