@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Access Denied</title>
</head>
<body>
    <div>
        <p style="text-align:center;"><img src="~/Content/Design/access_denied.png" /></p>
</div>
</body>
</html>
